# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5432/clinica
DB_USERNAME=postgres
DB_PASSWORD=sua_senha_aqui

# Configurações de Segurança (JWT)
JWT_SECRET=sua_chave_secreta_aqui

# Configurações do RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Configurações de Email (se houver no futuro)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_app_gmail